# macOS
.DS_Store

# Xcode
DerivedData/
build/
*.xcuserstate

# User-specific Xcode data
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/

# Swift Package Manager
.build/

# CocoaPods
Pods/
*.xcworkspace

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# SwiftPM artifacts
.swiftpm

# Other
.idea/
.vscode/
